<div class="add-peer">
  <ul class="list-group">
    {{#each allEmployees as |employee| }}
      <li class="list-group-item" >{{employee.name}} <button {{action "clickedPeer" employee}}>+Add</button></li>
    {{else}}
      <li class="list-group-item">Everyone has already been assigned.</li>
    {{/each}}
  </ul>
</div>